
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.hero-section {
    background-color: #f8f9fa;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 50px;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    color: #666;
}
/*header styling*/

 .navbar-brand img {
            height: 80px;
            max-width: 100%;
        }

/*header ends*/
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

footer ul li {
    margin-bottom: 8px;
}

footer a {
    color: #666;
    text-decoration: none;
}

footer a:hover {
    color: #333;
    text-decoration: underline;

}
.custom-class-home {
    margin-top: 0 !important;
}
.margin-top-5{
    margin-top: 5px !important;
}
/* Page Header Strip */
.page-header-strip {
    background-color: #124170;
    color: white;
    padding: 15px 0;
    margin-bottom: 40px;
}

.page-header-strip .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb {
    font-size: 14px;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.page-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}


/*strip mobile */

@media (max-width: 768px) {
    .page-header-strip .container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .page-title {
        margin-top: 5px;
    }
    
    .intro-section h1 {
        font-size: 20px;
    }
    
    .process-item {
        flex: 0 0 100%;
    }
    
    .key-point-box {
        flex: 0 0 100%;
    }
    
    .image-col {
        flex: 0 0 100%;
    }
}

